---
layout: default
---

<header>
  <span class="ribbon-outer">
    <span class="ribbon-inner">
      <h1 style='margin-bottom: 0'>{{ site.title | default: site.github.repository_name }}</h1>
      <h5 style='margin-top: 0'>{{ site.description | default: site.github.project_tagline }}</h2>
    </span>
    <span class="left-tail"></span>
    <span class="right-tail"></span>
  </span>
</header>

<div id="no-downloads">
  <span class="inner">
  </span>
</div>

<span class="banner-fix"></span>

<section id="main_content">
  {{ content }}
</section>
